%h1 Administration de LibreTeka.

%p
  = link_to("Estadísticas", url_for(:controller => :admin, :action => :stats))
  
%p
  = link_to("Gestión de usuarios.", url_for(:controller => :admin, :action => :users))