- content_for :head do
  = auto_discovery_link_tag :atom, titles_path(:format => :atom), { :title => "#{CONFIG[:sitename]}: New books" }

#puffbox
  %p{ :style => 'font-size: 200%' }
    Presta y toma prestados libros en tu vecindario o en cualquier ciudad.

  
    
  %p
    Ayudanos a completar la primera biblioteca entre iguales.
    = link_to_unless_current "Regístrate", :register





.clear
  
- if @books.count > 0

  %table.book_grid
    %tr
    - i = 0
    - for book in @books
      - title = book.title
      - i += 1
      %td
        = link_to (image_tag title.image_url, :height => 80, :alt => title.title_and_author), title
      - if i % 10 == 0
        %tr
