- content_for :head do
  = auto_discovery_link_tag :atom, titles_path(:format => :atom), { :title => "#{CONFIG[:sitename]}: New books" }

#home
  #mascota
    <IMG SRC="/images/mascota.png" ALT="La primera biblioteca física p2p" WIDTH=300 HEIGHT=100% >

  #puffbox
    %p{ :style => 'font-size: 200%; line-height: 40px'}
      Prestamos entre iguales en tu vecindario o en cualquier ciudad.
    
    %p
      Si a ti también te gusta la vida que tienen los libros prestados...
      = link_to_unless_current "Regístrate", :register





.clear
  
- if @books.count > 0

  %table.book_grid
    %tr
    - i = 0
    - for book in @books
      - title = book.title
      - i += 1
      %td
        = link_to (image_tag title.image_url, :height => 80, :alt => title.title_and_author), title
      - if i % 10 == 0
        %tr
